*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row::after{
  content: "";
  clear: both;
  display: table;
}


[class^="col-"]{
  float: left;
}

.right{
  float: right;
}

li{
  float: left;
  list-style: none;
  margin-top: 1.5em;
  background: #ffffff;
  border: 1px solid #000000;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 50px;
}

.col-red{
  width: 100%;
  height: 100vh;
  background-color: #ff0000;
  color: #f6ff00;
}

.col-green{
  width: 100%;
  height: 100vh;
  background-color: #08ad00;
  color: #f6ff00;
}

.col-yellow{
  width: 100%;
  height: 100vh;
  background-color: #f6ff00;
  color: #08ad00;
}

a{
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  position: relative;
  left: 14px;
}

nav{
  position: fixed;
  width: 100%;
  z-index: 1;
}

.img-shoes{
  position: relative;
}

.img-shoes > img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.img-shoes > p{
   text-transform: uppercase;
   font-size: 2em;
   position: absolute;
   width: 100%;
   top: 50vh;
   transform: translate(0%,300%);
   text-align: center;
}
